* {
    background-color: rgba(27, 172, 164, 0.459);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.cars1 {
    /* border: 2px dashed black; */
    margin: auto;
    width: 80%;
    height: 2020px;    
}

.cars2 {
    /* border: 2px dashed black; */
    margin: auto;
    width: 80%;
    height: 3520px;    
}

#id1 {
    padding: 0px !important;
    margin: 0px !important;
    font-size: 95px;
    font-style: italic;
    text-decoration: underline;
}

.cars1 div {
    /* border: 2px dashed red; */
    margin: 8px;
    padding: 8px;    
}

.cars2 div {
    /* border: 2px dashed red; */
    margin: 8px;
    padding: 8px;    
}

.left {
    float: left;
}

.logo1 {
    background-image: url(https://static.thenounproject.com/png/1833958-200.png);
}

.logo2 {
    background-image: url(https://static.thenounproject.com/png/1086262-200.png);
}

.logo3 {
    background-image: url(https://static.thenounproject.com/png/1086240-200.png);
}

.logo4 {
    background-image: url(https://static.thenounproject.com/png/3315324-200.png);
}

.logo1, .logo2, .logo3, .logo4 {
    height: 80px;
    width: 80px;
    background-size: contain;
}

.class1 {
    clear: left;
    float: left;
}

.right {
    float: right;
}

.class2 {
    height: 300px;
    width: 680px;
    font-size: 22px;
}

.class3 {
    height: 200px;
    width: 400px;
    font-size: 22px;
}

.class4 {
    display: flex;    
    margin: 10px;
    clear: both;
    float: left;
    font-size: 22px;
    font-weight: bold;
}

.box1 {
    height: 30px;
    width: 900px;
    
} 
.box2 {
    height: 30px;
    width: 200px;
    font-size: 20px;
    text-align: right;
}

.class5 {    
    height: auto;
    width: 97%;
    text-align: left;
    font-size: 28px;
}

.class6 {
    height: 300px;
    width: 47%;    
    clear: right;

}

.class7 {
    float: left;
    width: auto;
    height: auto;
    margin: 0px !important;
    padding: 0px !important;
    font-size: 65px;
    font-weight: bold;    
}

.class8 {
    float: left;
    clear: right;
    width: auto;
    height: auto;    
    font-size: 45px;
    font-weight: bold;
    text-decoration: underline;
}

.class9 {
    float: left;
    clear: both;
    width: auto;
    height: auto;    
    font-size: 28px;
    font-weight: lighter;
}

.click {
    background-color: skyblue;
    font-size: 22px;
    font-weight: bold;
    width: auto;
    height: auto;
}

.class10 {    
    height: auto;
    width: 97%;
    text-align: left;
    font-size: 26px;
    font-weight: bold;
}
